<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sourceforge.texlipse.viewer.launchConfigurationType">
<stringAttribute key="none.arguments" value=""/>
<stringAttribute key="none.command" value=""/>
<stringAttribute key="none.ddeCloseCommand" value=""/>
<stringAttribute key="none.ddeCloseServer" value=""/>
<stringAttribute key="none.ddeCloseTopic" value=""/>
<stringAttribute key="none.ddeViewCommand" value=""/>
<stringAttribute key="none.ddeViewServer" value=""/>
<stringAttribute key="none.ddeViewTopic" value=""/>
<stringAttribute key="viewerCurrent" value="none"/>
</launchConfiguration>
