<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 This file is part of the ePNK project (Petri Net Kernel for eclipse). The ePNK
  is platform for Petri net tools based on the PNML transfer format. Its
 main idea is to provide generic Petri net types which can be easily plugged
  in and a simple generic GMF editor, that can be used for graphically editing
 nets of any plugged in type. Additional functionality can be plugged in.
 
 Note that this project is still in an experimental phase, and is also used
 as a case study for EMF/GMF based Model-based Software Engineering.
 
 Copyright (C) 2010 Ekkart Kindler, eki@imm.dtu.dk
 The license under which this software will be distributed is still to be decided -
 it will probably be the EPL.

 $Id$
-->

<plugin>
  <extension-point
      id="pntd"
      name="Petri Net Type Definition"
      schema="schema/PetriNetTypeExtension.exsd"/>
      
  <extension-point
      id="toolspecific"
      name="Tool specific extension"
      schema="schema/ToolspecificExtension.exsd"/>      

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/pnmlcoremodel"
            class="org.pnml.tools.epnk.pnmlcoremodel.PnmlcoremodelPackage"
            genModel="model/PNMLCoreModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/datatypes"
            class="org.pnml.tools.epnk.datatypes.pnmldatatypes.PnmldatatypesPackage"
            genModel="model/PNMLDataTypes.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/structuedpntypesmodel"
            class="org.pnml.tools.epnk.structuredpntypemodel.StructuredpntypemodelPackage"
            genModel="model/PNMLStructuredPNTypeModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/serialisation"
            class="org.pnml.tools.epnk.serialisation.SerialisationPackage"
            genModel="model/Serialisation.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.pnml.tools.epnk.wizards.category"
            name="ePNK
            ">
      </category>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="pnx"
         class="org.pnml.tools.epnk.pnmlcoremodel.util.PNXResourceFactory">
      </parser>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="pnml"
         class="org.pnml.tools.epnk.pnmlcoremodel.serialisation.PNMLResourceFactory">
      </parser>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
         
      <clientContext
            default="false"
            id="org.pnml.tools.epnk.validation.PnmlValidationContext">

         <selector class="org.pnml.tools.epnk.validation.PnmlValidationContext"/> 
		           
      </clientContext>
      <binding
            context="org.pnml.tools.epnk.validation.PnmlValidationContext"
            category="org.pnml.tools.epnk.validation"/>
   </extension> 
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      
      <category
         name="PNML Validation"
         id="org.pnml.tools.epnk.validation">
         Validation of PNML constraints.
      </category>
         
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://org.pnml.tools/epnk/pnmlcoremodel">
         </package>

         <constraints categories="org.pnml.tools.epnk.validation">

           <constraint
                  lang="Java"
                  class="org.pnml.tools.epnk.validation.ArcOnAPage"
                  severity="ERROR"
                  mode="Batch"
                  name="Arc on a page"
                  id="org.pnml.tools.epnk.validation.ArcOnAPage"
                  statusCode="101">
               <target class="Arc"/>
               <description>
                  The source and the target of an arc must be to nodes on the same page.
               </description>
               <message>
                  The source and target of {0} are not on the same page.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="org.pnml.tools.epnk.validation.ReferenceToSameNet"
                  severity="ERROR"
                  mode="Batch"
                  name="Reference to same net"
                  id="org.pnml.tools.epnk.validation.ReferenceToSameNet"
                  statusCode="201">
               <target class="RefPlace"/>
               <target class="RefTransition"/>
               <description>
                  The reference of a node must be to a node within the same net.
               </description>
               <message>
                  Reference node {0} is not in the same net as the node {1} it refers to.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="org.pnml.tools.epnk.validation.NoCyclicReferences"
                  severity="ERROR"
                  mode="Batch"
                  name="Reference to same net"
                  id="org.pnml.tools.epnk.validation.NoCyclicReferences"
                  statusCode="202">
               <target class="PetriNet"/>
               <description>
                  There must not be a cycle in the reference nodes.
               </description>
               <message>
                  Reference node(s) {0} is/are on cycles.
               </message>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/toolspecifc/diagraminfo"
            class="org.pnml.tools.epnk.toolspecific.diagraminfo.DiagraminfoPackage"
            genModel="model/PNMLPageDiagramInfo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="diagraminfo"
            class="org.pnml.tools.epnk.toolspecific.diagraminfo.util.DiagraminfoResourceFactoryImpl"/>
   </extension>
      
   <extension
         id="org.pnml.tools.epnk.toolspecific.diagraminfo"
         name="GMF Diagram Information"
         point="org.pnml.tools.epnk.toolspecific">
      <type
            class="org.pnml.tools.epnk.toolspecific.diagraminfo.factory.DiagraminfoExtensionFactory"
            description="ePNK specific information for saving GMF diagram information">
      </type>
   </extension>
   
</plugin>
