<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://pragmacpndefinition/1.0"
            class="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.provider.PragmacpndefinitionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ePNK Annotated CPN Type.edit.objectContribution1"
            objectClass="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.PragmaticsOntology">
         <menu
               id="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.actions.standardmenu"
               label="Pragmatics"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.menu.AddOntologyAction"
               enablesFor="1"
               id="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.actions.AddOntologyAction"
               label="Add Ontology"
               menubarPath="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.actions.standardmenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.pnml.tools.epnk.pnmlcoremodel.presentation.PnmlcoremodelEditorPNML?before=additions">
         <menu
               label="Annotate with">
            <dynamic
                  class="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.menu.AnnotationContributionMenu"
                  id="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.menu.AnnotationContributionMenu">
            </dynamic>
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.cpntools.pragma.epnk.pnktypes.pragmacpndefinition.OntologyMember">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ePNK Annotated CPN Type.edit.command1"
            name="name">
      </command>
   </extension>

</plugin>
