<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="CPN"
            id="importer.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import CPNTools File"
            icon="icons/sample.gif"
            category="importer.importWizards.sampleCategory"
            class="importer.importWizards.ImportWizard"
            id="importer.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
