<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 This file is part of the ePNK project (Petri Net Kernel for eclipse). The ePNK
 is platform for Petri net tools based on the PNML transfer format. Its
 main idea is to provide generic Petri net types which can be easily plugged
 in and a simple generic GMF editor, that can be used for graphically editing
 nets of any plugged in type. Additional functionality can be plugged in.
 
 Note that this project is still in an experimental phase, and is also used
 as a case study for EMF/GMF based Model-based Software Engineering.
 
 Copyright (C) 2010 Ekkart Kindler, eki@imm.dtu.dk
 The license under which this software will be distributed is still to be decided -
 it will probably be the EPL.

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.pnml.tools/epnk/types/ptnet"
            class="org.pnml.tools.epnk.pntypes.ptnet.PtnetPackage"
            genModel="model/PTnet.genmodel"/>
   </extension>
   <extension
         id="org.pnml.tools.epnk.pntypes.ptnet"
         name="PTNets"
         point="org.pnml.tools.epnk.pntd">
      <type
            class="org.pnml.tools.epnk.pntypes.ptnet.impl.PTNetImpl"
            description="Place/Transition Nets">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://org.pnml.tools/epnk/pnmlcoremodel">
         </package>    
       
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="org.pnml.tools.epnk.pntypes.ptnet.validation.PT_TP_ArcsOnly"
                  lang="OCL"
                  mode="Live"
                  name="PT or TP Arcs only"
                  severity="ERROR"
                  statusCode="301">
               <message>
                  The arc {0} must run from a place to a transition or vice versa.
               </message>
               <description>
                 Arcs between two places or transitions are forbidden in
                 P/T-nets (see Clause 5.3.1 of ISO/IEC 15909-2).
               </description>
               <target
                     class="Arc:http://org.pnml.tools/epnk/types/ptnet">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                  </event>
               </target>               
               <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) ) or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) )
               ]]>
            </constraint>      
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
